.place__image {
  width: 35.94vw;
  object-fit: contain;
  grid-area: image;
}

@media screen and (max-width: 1279px) {

  .place__image {
    width: 42.97vw;
  }

}

@media screen and (max-width: 1023px) {

  .place__image {
    width: 44.27vw;
  }

}

@media screen and (max-width: 767px) {

  .place__image {
    width: 90vw;
    margin: 0 auto 32px auto;
  }

}

@media screen and (max-width: 424px) {

  .place__image {
    width: 100vw;
  }

}
