@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-element/intro__list-element.css);
@import url(./__list-element/_type/intro__list-element_type_numbers.css);

.intro {
  margin: 0 auto 92px 148px;
}

@media screen and (min-width: 1281px) {

  .intro {
    margin: 0 auto 7.19vw 11.56vw;
  }

}

@media screen and (max-width: 1279px) {

  .intro {
    margin-left: 4.6875vw;
  }

}

@media screen and (max-width: 1023px) {

  .intro {
    margin: 0 3.125vw 88px 3.125vw;
  }

}

@media screen and (max-width: 767px) {

  .intro {
    margin: 0 5vw 64px 5vw;
  }

}
